# Descarga de datos

In [2]:
from google.colab import output
!pip install gdown
!gdown https://drive.google.com/uc?id=1L5kNJEwRRlNtBvXVt4KZB0EiTQk23iaV # pokedex_processed.csv
!gdown https://drive.google.com/uc?id=19dw2vVgF6pht_-GF5_IvxrVLOSkT8kCQ # pokedex_processed.json
output.clear()

# Datos

Los datos corresponden al mundo de _Pokémon_ separado en dos bases de datos: Una relacional SQL (PostgreSQL) y otra de documentos NoSQL (MongoDB). Ambas son levantadas dentro del entorno de ejecución del notebook en Google Colab.

A continuación se crea y describe a cada una:

# PostgreSQL

Cada columna de la tabla de pokedex se describe a continuación:

```text
###################
## Tabla pokedex ##
###################

Id           : (int) Identificador único en el Pokédex
Name         : (str) Nombre del Pokémon
Category     : (str) La "especie" del Pokémon (en Pokémon Sol y Luna)
Height (m)   : (int) Altura en metros
Weight (kg)  : (int) Masa en kilogramos
Capture Rate : (int) Cuantifica la probabilidad de capturar al Pokémon (a mayor valor, más probable).
Egg Steps    : (int) Cuantifica el número de pasos que requiere en el juego para salir de un huevo.
Exp Group    : (str) Categoría que determina cuanta experiencia necesita para subir de nivel.
HP           : (int) Vida
Attack       : (int) Ataque
Defense      : (int) Defensa
Sp. Attack   : (int) Ataque Especial
Sp. Defense  : (int) Defensa Especial
Speed        : (int) Velocidad

```

In [3]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# pin package versions for google colab compatibility
!pip install SQLAlchemy==1.4.46
!pip install ipython-sql==0.4.1
# set connection
%load_ext sql
%config SqlMagic.feedback=False
%config SqlMagic.autopandas=True
%config SqlMagic.displaycon = False
%sql postgresql+psycopg2://@/postgres
output.clear()

In [4]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine("postgresql+psycopg2://@/postgres", echo=False)
df_pokedex = pd.read_csv("pokedex_processed.csv", index_col=False)
df_pokedex.to_sql("pokedex", con=engine, if_exists="replace", index=False)

809

In [5]:
%%sql
SELECT *
FROM pokedex
LIMIT 10

,Id,Name,Category,Height (m),Weight (kg),Capture Rate,Egg Steps,Exp Group,HP,Attack,Defense,Sp. Attack,Sp. Defense,Speed
0,1,Bulbasaur,Seed Pokémon,0.7,6.9,45,5120,Medium Slow,45,49,49,65,65,45
1,2,Ivysaur,Seed Pokémon,1.0,13.0,45,5120,Medium Slow,60,62,63,80,80,60
2,3,Venusaur,Seed Pokémon,2.0,100.0,45,5120,Medium Slow,80,82,83,100,100,80
3,4,Charmander,Lizard Pokémon,0.6,8.5,45,5120,Medium Slow,39,52,43,60,50,65
4,5,Charmeleon,Flame Pokémon,1.1,19.0,45,5120,Medium Slow,58,64,58,80,65,80
5,6,Charizard,Flame Pokémon,1.7,90.5,45,5120,Medium Slow,78,84,78,109,85,100
6,7,Squirtle,Tiny Turtle Pokémon,0.5,9.0,45,5120,Medium Slow,44,48,65,50,64,43
7,8,Wartortle,Turtle Pokémon,1.0,22.5,45,5120,Medium Slow,59,63,80,65,80,58
8,9,Blastoise,Shellfish Pokémon,1.6,85.5,45,5120,Medium Slow,79,83,100,85,105,78
9,10,Caterpie,Worm Pokémon,0.3,2.9,255,3840,Medium Fast,45,30,35,20,20,45

## MongoDB

La colección pokedex tiene documentos con 4 entradas: Un identificador único del pokémon y arreglos con información acerca del mismo. A continuación se detalla cada uno:

```text
#######################
## Colección pokedex ##
#######################

"pokemon_id": : (int)       Número identificador único en el Pokédex
"abilities"   : (List[str]) Lista de las habilidades del Pokémon
"moves"       : (List[str]) Lista de los movimientos del Pokémon
"types"       : (List[str]) Lista de los tipos del Pokémon
```

In [6]:
!apt install mongodb
!service mongodb start
!pip install pymongo
!mongoimport --db local --collection pokedex --jsonArray < 'pokedex_processed.json'
output.clear()

In [7]:
from pymongo import MongoClient
client = MongoClient()
client.list_database_names() # ['admin', 'local']
db = client['local']
collection = db['pokedex']

Para tener una idea de cómo se ven los datos en la colección, aquí les dejamos impresión del primer Pokemon en la colección:

In [8]:
import pprint
for pokemon in collection.find({}).limit(1):
    pprint.pprint(pokemon)

{'_id': ObjectId('648d3d0ed6e1e8dd70fdd03d'),
 'abilities': ['Overgrow', 'Chlorophyll'],
 'moves': ['Tackle is described as A physical attack in which the user charges '
           'and slams into the target with its whole body.',
           'Growl is described as The user growls in an endearing way, making '
           'opposing Pokémon less wary. This lowers their Attack stat.',
           'Vine Whip is described as The target is struck with slender, '
           'whiplike vines to inflict damage.',
           'Poison Powder is described as The user scatters a cloud of '
           'poisonous dust that poisons the target.',
           'Sleep Powder is described as The user scatters a big cloud of '
           'sleep-inducing dust around the target.',
           'Take Down is described as A reckless, full-body charge attack for '
           'slamming into the target. This also damages the user a little.',
           'Razor Leaf is described as Sharp-edged leaves are launched to '
           'slash at the opposing Pokémon. Critical hits land more easily.',
           'Sweet Scent is described as A sweet scent that harshly lowers '
           "opposing Pokémon's evasiveness.",
           "Growth is described as The user's body grows all at once, raising "
           'the Attack and Sp. Atk stats.',
           'Double-Edge is described as A reckless, life-risking tackle. This '
           'also damages the user quite a lot.',
           'Worry Seed is described as A seed that causes worry is planted on '
           "the target. It prevents sleep by making the target's Ability "
           'Insomnia.',
           'Synthesis is described as The user restores its own HP. The amount '
           'of HP regained varies with the weather.',
           'Seed Bomb is described as The user slams a barrage of hard-shelled '
           'seeds down on the target from above.'],
 'pokemon_id': 1,
 'types': ['Grass', 'Poison']}

# Preguntas

Para resolver estas preguntas será necesario que consultes a `PostgreSQL` y/o `MongoDB`.

En este `notebook` puedes almacenar el resultado de una consulta `PostgreSQL` en una variable como un `pandas.DataFrame` de la siguiente forma:

```python
df = %sql SELECT "Name" FROM pokedex WHERE "Id" = 99;
```

## Pregunta 1
Entregue el nombre (name) y la cantidad de habilidades (abilites) de los 10 pokemones más pesados en kilogramos

In [9]:
df = %sql SELECT "Name", "Id" FROM pokedex ORDER BY "Weight (kg)" DESC LIMIT 10;

pokemon_dict = df.to_dict(orient= 'records')
print('Nombre', 'Cantidad de habilidades')
for pokemon in pokemon_dict:
    pokemon_id = pokemon["Id"]
    nombre = pokemon["Name"]
    for pokemon in collection.find({"pokemon_id": pokemon_id}):
      habilidades= (pokemon["abilities"])
    print(nombre, len(habilidades))
    habilidades_count = collection.count_documents({'pokemon_id': pokemon_id, 'abilities': {'$exists': True}})
    pokemon['Habilidades'] = habilidades_count
#for pokemon in collection.find('pokemon_id' in df):
  #pprint.pprint(pokemon['abilities'])

Nombre Cantidad de habilidades
Cosmoem 1
Celesteela 1
Groudon 1
Mudsdale 3
Guzzlord 1
Stakataka 1
Melmetal 1
Giratina 3
Dialga 2
Metagross 2

## Pregunta 2

Nombre los 3 pokemones con más movimientos. Se recomienda revisar la documentación de MongoDB, particularmente de [`$sort`](https://www.mongodb.com/docs/manual/reference/operator/aggregation/sort/) y [`$limit`](https://www.mongodb.com/docs/manual/reference/operator/aggregation/limit/).

In [25]:
ids_vistos = set()
resultado = collection.find({}, {"pokemon_id": 1, "moves": 1}).sort([("moves", -1)]).limit(3)
lista_id = []
for pokemon in resultado:
    pokemon_id = pokemon["pokemon_id"]
    if pokemon_id not in ids_vistos:
      moves_count = len(pokemon["moves"])
      ids_vistos.add(pokemon_id)
      lista_id.append(pokemon_id)
query = """
SELECT "Name"
FROM pokedex
WHERE "Id" IN ({})
""".format(', '.join(str(id) for id in lista_id))

df = %sql $query
print(df)

         Name
0     Venonat
1    Venomoth
2  Togedemaru

## Pregunta 3

Cuál es el elemento de los pokemones más densos? Indique los 5 elementos de pokemones más densos. Asuma que la densidad es el peso dividido en la altura, y que los pokemones tienen un solo tipo (ignore todos los elementos de cada pokemon excepto uno).

ser muestran los tipos de los 5 pokemones más densos

In [11]:
query = """
SELECT "Name", "Id", "Weight (kg)" / "Height (m)" AS density
FROM pokedex
ORDER BY density DESC
LIMIT 5
"""
df = %sql $query
densidad_dict = df.to_dict(orient= 'records')

for pokemon in densidad_dict:
    id = pokemon['Id']
    resultado = collection.find_one({'pokemon_id': id})
    # Verificar si se encontró el Pokémon en la base de datos de MongoDB
    if resultado:
        # Obtener los atributos deseados del resultado de la consulta
        tipo = resultado['types']
        name = pokemon['Name']
        # Imprimir los datos del Pokémon
        print('Tipo:', tipo[0])

Tipo: Psychic
Tipo: Ground
Tipo: Steel
Tipo: Steel
Tipo: Ground

## Pregunta 4

Vea si existe alguna correlación entre algún atributo (ataque, defensa, ataque especial, defensa especial, velocidad y HP) y la cantidad de movimientos que tienen los pokemones.

Hay algun otro par de variables (de las mencionadas anteriormente) que tengan mayor correlación entre sí? Indique el par de atributos que tengan la mayor correlación entre sí y haga un gráfico de dispersión para visualizar la correlación.

In [41]:
df = %sql SELECT "Name", "Id", "HP" FROM pokedex;
ids_vistos = set()
resultado = collection.find({}, {"pokemon_id": 1, "moves": 1}).sort([("moves", -1)])

diccionario_movimientos = {}

for pokemon in resultado:
    pokemon_id = pokemon["pokemon_id"]
    if pokemon_id not in ids_vistos:
        moves_count = len(pokemon["moves"])
        ids_vistos.add(pokemon_id)
        diccionario_movimientos[pokemon_id] = moves_count

print(diccionario_movimientos)

# Crea una nueva columna en el DataFrame utilizando el diccionario de movimientos
df['Num_Movimientos'] = df['Id'].map(diccionario_movimientos)
# Reordena las columnas según tus preferencias
primeras_cinco_lineas = df.head(5)
print(primeras_cinco_lineas)
correlation = df[["HP", "Num_Movimientos"]].corr()
print(correlation)

{777: 15, 48: 14, 49: 18, 54: 16, 55: 18, 79: 16, 80: 17, 96: 16, 97: 18, 128: 14, 163: 18, 164: 19, 199: 18, 203: 17, 234: 15, 241: 13, 270: 13, 271: 13, 302: 20, 308: 21, 313: 16, 314: 16, 325: 15, 326: 17, 340: 19, 372: 14, 373: 18, 375: 14, 376: 15, 380: 19, 381: 19, 385: 15, 386: 14, 371: 13, 408: 12, 409: 13, 486: 14, 494: 17, 517: 17, 605: 18, 606: 19, 644: 15, 720: 19, 765: 15, 787: 18, 791: 17, 81: 18, 82: 20, 137: 15, 145: 16, 181: 21, 205: 20, 233: 16, 299: 16, 377: 14, 378: 14, 379: 16, 462: 23, 474: 17, 476: 21, 599: 15, 600: 15, 601: 17, 603: 15, 604: 10, 649: 20, 738: 15, 796: 18, 143: 17, 175: 15, 176: 17, 194: 13, 195: 13, 206: 21, 218: 16, 219: 17, 230: 13, 261: 16, 262: 21, 287: 11, 289: 14, 316: 16, 317: 18, 322: 15, 323: 16, 358: 15, 369: 14, 399: 14, 400: 17, 433: 8, 449: 11, 450: 14, 480: 12, 513: 16, 616: 15, 734: 16, 735: 16, 775: 13, 47: 13, 46: 12, 123: 18, 127: 16, 207: 15, 212: 18, 253: 16, 254: 18, 291: 15, 335: 16, 347: 15, 348: 14, 402: 15, 472: 18, 542: 14, 557: 15, 558: 14, 588: 15, 589: 17, 632: 15, 736: 10, 737: 13, 754: 13, 772: 18, 773: 26, 798: 19, 69: 14, 70: 14, 72: 17, 73: 18, 108: 15, 114: 19, 124: 16, 140: 12, 141: 15, 224: 16, 336: 20, 345: 15, 346: 15, 455: 14, 463: 16, 465: 20, 496: 15, 495: 15, 497: 15, 592: 14, 593: 14, 799: 19, 800: 18, 24: 21, 23: 17, 147: 14, 148: 14, 149: 19, 213: 19, 350: 17, 764: 19, 781: 18, 1: 13, 2: 14, 3: 16, 102: 15, 187: 19, 188: 19, 191: 16, 192: 19, 189: 19, 285: 13, 406: 6, 420: 12, 421: 13, 492: 12, 672: 16, 673: 18, 711: 15, 710: 13, 448: 20, 504: 17, 507: 14, 506: 15, 508: 17, 554: 16, 555: 17, 633: 16, 634: 16, 635: 16, 638: 14, 639: 14, 640: 14, 647: 14, 667: 15, 668: 16, 674: 14, 675: 18, 782: 14, 783: 16, 784: 18, 103: 9, 185: 18, 389: 14, 459: 12, 460: 13, 650: 13, 651: 14, 652: 20, 708: 14, 709: 15, 778: 16, 338: 17, 577: 16, 578: 16, 579: 17, 793: 19, 7: 14, 8: 14, 9: 15, 90: 17, 91: 10, 138: 14, 139: 15, 324: 18, 387: 12, 388: 12, 564: 18, 565: 18, 688: 16, 689: 18, 785: 18, 786: 18, 788: 18, 177: 16, 178: 18, 282: 20, 594: 19, 669: 14, 670: 14, 671: 12, 684: 16, 685: 16, 6: 18, 16: 14, 17: 14, 18: 14, 41: 15, 42: 16, 142: 17, 146: 16, 169: 17, 198: 15, 193: 16, 226: 19, 276: 13, 277: 14, 278: 14, 279: 19, 396: 12, 397: 12, 398: 13, 430: 11, 458: 15, 566: 18, 567: 18, 580: 15, 581: 15, 627: 16, 628: 17, 701: 17, 714: 16, 715: 19, 37: 20, 353: 16, 354: 16, 355: 15, 356: 21, 477: 21, 478: 16, 562: 15, 563: 16, 607: 17, 608: 17, 653: 16, 654: 16, 655: 21, 25: 18, 309: 14, 310: 16, 403: 13, 404: 12, 405: 13, 522: 13, 523: 14, 807: 16, 68: 19, 99: 16, 106: 17, 122: 24, 237: 16, 475: 20, 538: 16, 620: 16, 747: 13, 748: 14, 752: 15, 792: 17, 797: 19, 805: 13, 12: 16, 249: 16, 250: 16, 267: 13, 269: 13, 275: 7, 284: 14, 296: 17, 297: 18, 357: 16, 561: 17, 629: 16, 630: 17, 637: 17, 258: 13, 320: 16, 321: 18, 366: 5, 367: 15, 368: 15, 393: 13, 394: 14, 395: 15, 418: 14, 419: 16, 456: 14, 457: 14, 490: 13, 489: 11, 351: 13, 407: 7, 584: 17, 721: 14, 118: 14, 119: 15, 382: 14, 60: 13, 61: 13, 86: 17, 183: 16, 184: 16, 283: 11, 298: 10, 339: 15, 502: 15, 501: 15, 503: 17, 515: 16, 692: 13, 693: 17, 751: 14, 771: 17, 617: 16, 658: 19, 131: 15, 134: 15, 223: 13, 370: 17, 422: 10, 423: 10, 484: 12, 656: 14, 657: 14, 690: 16, 691: 18, 117: 12, 116: 12, 121: 7, 120: 19, 158: 16, 159: 16, 160: 17, 170: 16, 171: 20, 211: 20, 260: 15, 259: 14, 363: 15, 364: 16, 365: 18, 550: 18, 618: 17, 728: 15, 729: 15, 730: 16, 746: 15, 779: 12, 35: 23, 39: 19, 66: 17, 67: 17, 300: 19, 532: 16, 534: 16, 533: 16, 572: 17, 648: 15, 587: 16, 694: 13, 702: 16, 794: 20, 71: 10, 511: 16, 98: 15, 303: 18, 341: 15, 342: 16, 15: 13, 451: 17, 452: 20, 453: 16, 454: 16, 543: 14, 544: 16, 545: 18, 757: 14, 758: 19, 803: 13, 804: 15, 89: 17, 168: 23, 434: 17, 435: 18, 107: 18, 84: 16, 85: 17, 288: 11, 293: 13, 294: 14, 295: 20, 327: 13, 329: 18, 330: 20, 441: 16, 469: 18, 479: 14, 482: 12, 535: 14, 536: 14, 537: 16, 582: 15, 583: 15, 641: 17, 642: 17, 571: 18, 619: 16, 724: 17, 130: 14, 384: 13, 780: 15, 133: 17, 312: 21, 801: 20, 763: 15, 795: 19, 64: 15, 65: 15, 439: 18, 806: 12, 719: 18, 51: 18, 132: 1, 151: 13, 43: 16, 44: 16, 315: 17, 416: 18, 568: 17, 569: 17, 590: 15, 591: 15, 167: 18, 29: 13, 30: 13, 32: 13, 33: 13, 274: 12, 390: 13, 391: 14, 510: 17, 509: 17, 551: 17, 552: 17, 553: 18, 570: 16, 624: 16, 625: 17, 707: 16, 686: 18, 687: 19, 190: 14, 424: 15, 573: 6, 574: 17, 575: 17, 576: 17, 26: 4, 125: 14, 239: 14, 466: 18, 135: 15, 179: 15, 180: 15, 243: 14, 311: 21, 695: 7, 172: 6, 417: 15, 595: 16, 596: 17, 602: 4, 698: 18, 699: 19, 808: 7, 809: 13, 467: 16, 802: 21, 59: 6, 208: 25, 209: 15, 210: 16, 229: 17, 232: 16, 248: 18, 727: 19, 34: 8, 56: 19, 57: 20, 104: 16, 105: 16, 216: 15, 217: 15, 221: 17, 246: 14, 247: 14, 473: 18, 613: 16, 614: 19, 626: 14, 636: 12, 697: 18, 696: 15, 725: 15, 726: 15, 759: 13, 760: 14, 766: 15, 352: 19, 63: 1, 280: 17, 281: 17, 344: 20, 789: 2, 790: 2, 549: 8, 741: 16, 761: 9, 762: 13, 438: 14, 52: 15, 53: 18, 215: 16, 319: 18, 359: 18, 410: 12, 392: 14, 411: 13, 461: 19, 520: 15, 519: 15, 521: 15, 610: 16, 611: 16, 612: 16, 717: 18, 58: 18, 77: 14, 78: 17, 87: 18, 111: 15, 113: 17, 112: 16, 204: 14, 214: 18, 220: 15, 231: 13, 242: 17, 263: 16, 304: 18, 305: 18, 306: 18, 318: 14, 333: 17, 334: 20, 374: 1, 443: 10, 444: 11, 445: 13, 464: 18, 498: 15, 500: 17, 499: 16, 531: 19, 585: 15, 586: 17, 659: 16, 660: 20, 676: 13, 712: 15, 713: 19, 716: 18, 774: 15, 144: 16, 245: 15, 547: 8, 661: 14, 663: 17, 662: 15, 19: 13, 20: 15, 31: 8, 115: 15, 136: 15, 196: 15, 197: 15, 264: 18, 470: 15, 471: 15, 700: 16, 10: 3, 74: 16, 75: 16, 76: 17, 95: 22, 100: 17, 101: 18, 110: 16, 109: 15, 129: 3, 152: 14, 153: 14, 154: 16, 155: 16, 156: 16, 157: 17, 165: 14, 166: 14, 222: 18, 236: 4, 286: 14, 337: 19, 349: 3, 265: 4, 412: 4, 413: 16, 414: 15, 437: 19, 446: 18, 436: 16, 505: 20, 524: 13, 526: 14, 525: 14, 540: 9, 541: 6, 597: 15, 598: 17, 631: 20, 664: 4, 679: 15, 680: 15, 703: 16, 704: 11, 705: 11, 706: 15, 722: 15, 723: 15, 744: 15, 745: 18, 776: 15, 273: 7, 548: 16, 556: 20, 753: 11, 27: 17, 28: 18, 83: 18, 530: 17, 529: 15, 645: 17, 681: 14, 768: 14, 150: 20, 227: 16, 481: 12, 182: 10, 415: 4, 682: 16, 683: 20, 742: 11, 743: 12, 173: 7, 174: 6, 238: 15, 440: 5, 425: 15, 426: 16, 186: 7, 244: 15, 432: 14, 559: 16, 560: 16, 666: 15, 731: 13, 733: 15, 732: 14, 328: 17, 621: 16, 749: 14, 750: 14, 126: 14, 240: 14, 546: 17, 50: 14, 92: 15, 93: 16, 94: 16, 161: 14, 162: 16, 331: 17, 332: 19, 431: 14, 442: 13, 678: 20, 62: 7, 45: 7, 401: 4, 767: 2, 13: 3, 755: 14, 756: 14, 485: 13, 622: 16, 623: 19, 36: 6, 360: 7, 427: 17, 428: 21, 200: 14, 292: 13, 429: 9, 383: 14, 615: 20, 4: 12, 5: 12, 228: 16, 609: 5, 88: 16, 255: 12, 256: 14, 257: 17, 483: 13, 487: 13, 488: 13, 643: 15, 646: 14, 252: 14, 468: 5, 235: 1, 40: 6, 301: 4, 769: 14, 770: 14, 362: 15, 343: 18, 493: 14, 512: 4, 447: 11, 290: 11, 677: 9, 516: 4, 718: 16, 38: 6, 202: 4, 251: 14, 21: 12, 22: 14, 539: 15, 739: 13, 740: 14, 307: 17, 491: 12, 528: 14, 527: 14, 518: 5, 361: 13, 665: 2, 225: 2, 272: 4, 514: 4, 201: 1, 11: 1, 14: 1, 266: 1, 268: 1}
         Name  Id  HP  Num_Movimientos
0   Bulbasaur   1  45               13
1     Ivysaur   2  60               14
2    Venusaur   3  80               16
3  Charmander   4  39               12
4  Charmeleon   5  58               12
                      HP  Num_Movimientos
HP               1.00000          0.18065
Num_Movimientos  0.18065          1.00000

el ataque tiene la mayor relacion con 0.253665

Attack  Num_Movimientos: 0.253665
Defense  Num_Movimientos: 0.212476
Sp. Attack Num_Movimientos: 0.181285
Sp. Defense Num_Movimientos: 0.226473
Speed Num_Movimientos:0.125093
HP  Num_Movimientos:0.18065

Los atributos con mayor correlación son La defensa y la defensa especial.

In [43]:
df = %sql SELECT "Attack",	"Defense",	"Sp. Attack",	"Sp. Defense",	"Speed", "HP" FROM pokedex;
correlation_matrix = df.corr()
correlation_pairs = correlation_matrix.unstack().sort_values(ascending=False)
print(correlation_pairs)

Attack       Attack         1.000000
Defense      Defense        1.000000
Speed        Speed          1.000000
Sp. Defense  Sp. Defense    1.000000
Sp. Attack   Sp. Attack     1.000000
HP           HP             1.000000
Defense      Sp. Defense    0.506163
Sp. Defense  Defense        0.506163
             Sp. Attack     0.481435
Sp. Attack   Sp. Defense    0.481435
             Speed          0.439785
Speed        Sp. Attack     0.439785
Defense      Attack         0.439335
Attack       Defense        0.439335
HP           Attack         0.437478
Attack       HP             0.437478
Sp. Attack   HP             0.377330
HP           Sp. Attack     0.377330
Sp. Defense  HP             0.366738
HP           Sp. Defense    0.366738
Attack       Speed          0.330985
Speed        Attack         0.330985
Attack       Sp. Attack     0.326032
Sp. Attack   Attack         0.326032
HP           Defense        0.237430
Defense      HP             0.237430
Sp. Defense  Speed          0.204384
Speed        Sp. Defense    0.204384
Attack       Sp. Defense    0.201357
Sp. Defense  Attack         0.201357
Sp. Attack   Defense        0.199997
Defense      Sp. Attack     0.199997
Speed        HP             0.166122
HP           Speed          0.166122
Speed        Defense       -0.026810
Defense      Speed         -0.026810
dtype: float64

## Importante:
Para las últimas preguntas será necesario que crees y consultes un índice de texto para el arreglo de strings `moves`.

In [12]:
# Aquí escribe el código para crear el índice de texto
collection.create_index([("moves", "text")])

'moves_text'

## Pregunta 5
Entregue el nombre de todos los pokemones los cuales en sus movimientos contengan las palabras `fire` y `thunder` y tengan un Ataque Especial (Sp. Attack) entre `110` y `130` (ambos valores incluidos)

In [13]:
result = collection.find({
    "$and": [
        {"moves": {"$regex": "fire", "$options": "i"}},
        {"moves": {"$regex": "thunder", "$options": "i"}}
    ]
})
lista_id = []
lista_movimiento =[]
for pokemon in result:
  lista_id.append(pokemon["pokemon_id"])
  lista_movimiento.append([pokemon["moves"]])
query = """
SELECT "Name"
FROM pokedex
WHERE "Sp. Attack" >= 110 AND "Sp. Attack" <= 130 AND "Id" IN ({})
""".format(", ".join(str(id) for id in lista_id))
df = %sql $query
print(df)

        Name
0   Magneton
1     Zapdos
2   Ampharos
3   Houndoom
4     Raikou
5  Salamence
6  Magnezone
7  Magmortar

## Pregunta 6
Entregue el nombre junto con la suma de las estadísticas de combate (HP, Attack, Defense, Sp. Attack, Sp. Defense y Speed) de los pokemones que en sus movimientos contengan las palabras `ice`, `freeze`, `snow` o `cold`, **pero no** las palabras `water` y `wind`. Deben estar ordenado alfabéticamente por su nombre.

In [20]:
resultado = collection.find({
    "$or": [
        {"moves": {"$regex": "ice", "$options": "i"}},
        {"moves": {"$regex": "freeze", "$options": "i"}},
        {"moves": {"$regex": "snow", "$options": "i"}},
        {"moves": {"$regex": "cold", "$options": "i"}}
    ]
})


lista_id = []
for pokemon in resultado:
  lista_id.append(pokemon["pokemon_id"])

resultado2 = collection.find({
    "$and": [
    {"moves": {"$regex": "water", "$options": "i"}},
    {"moves": {"$regex": "wind", "$options": "i"}}]})
lista_id2 = []
for pokemon in resultado2:
  lista_id2.append(pokemon["pokemon_id"])
contador = 0
i = 0
while i <= len(lista_id) - contador:
  i += 1
  if lista_id[i] in lista_id2:
    lista_id.pop(i)
    contador += 1
query = """
SELECT DISTINCT "Name", "HP" + "Attack" + "Defense" + "Sp. Attack" + "Sp. Defense" + "Speed" AS "Suma"
FROM pokedex
WHERE "Id" IN ({})
ORDER BY "Name" ASC
""".format(", ".join(str(id) for id in lista_id))

df = %sql $query
print(df)

           Name  Suma
0     Abomasnow   494
1    Aerodactyl   515
2         Aipom   360
3     Alomomola   470
4       Altaria   490
..          ...   ...
251      Zekrom   680
252     Zoroark   510
253       Zorua   330
254       Zubat   245
255    Zweilous   420

[256 rows x 2 columns]